# ####################################################
# DIRECTORIES
# ####################################################

node_modules
dist
logs

# ####################################################
# FILES
# ####################################################

package-lock.json